<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="nav">
            <ul>
              <li><a href="#" class="nav-link">Top headlines</a></li>
              <li><a href="#" class="nav-link">Country</a></li>
              <li><a href="#" class="nav-link">Category</a></li>
              <li><a href="#" class="nav-link">Sources</a></li>
            </ul>
          </div>
    </header>
    <div class="wrapper">
        <div class="news"> 
            <%if(countries !== null) { %>
                <% countries.forEach((country)=> { %>
                    <a href="country/<%-country.alpha2Code.toLowerCase()%>" class="news__card">
                        <img src="<%-country.flag%>" alt="<%-country.alpha2Code%>">
                        <h2><%-country.name%></h2>
                    </a>
                <%})%>
            <%} else {%>
              <h1>No News Found</h1>
            <%}%>
        </div>
    </div>
</body>
</html>