<header>
    <h2><a href="#"><i class="far fa-newspaper"></i> NodeNews</a></h2>
            <nav>
                <li><a href="#" class="nav-link">Top headlines</a></li>
                <li><a href="#" class="nav-link">Country</a></li>
                 <li><a href="#" class="nav-link">Category</a></li>
                <li><a href="#"><i class="fas fa-id-card-alt"></i> About Us</a></li>
            </nav>
</header>